<%= javascript_include_tag 'tiny_mce/tiny_mce.js' %>
<% javascript_tag do %>
	tinyMCE.init({
        mode : "textareas",
        theme : "advanced"
});


<%end %>



<%= form_for(@post) do |f| %>
	<div class = "field">
		<%= f.label :title %><br />
	    <%= f.text_field :title %>
	</div>
	<div class = "field">
		<%= f.label :description %><br />
	    <%= f.text_field :description %>
	</div>
	
	<div class="field">
		<%= f.label :intro %><br />
	    <%= f.text_area :intro %>
	</div>
	<div class="field">
		<%= f.label :body %><br />
	    <%= f.text_area :body %>
	</div>

	<div class="field">
		<%= f.label "Publicado?" %><br />
	    <%= f.check_box :published %>
	</div>

	<div class="actions">
	    <%= f.submit %>
	</div>
<% end %>
