<% content_for :reviews %>
<% @reviews.each do |post| unless @reviews.nil?%>

	<p><%= raw(post.title) %></p>
	<p><%= raw(post.title) %></p>
	<p><%= raw(post.title) %></p>
	<p><%= raw(post.title) %></p>
	<p><%= raw(post.title) %></p>
	<p><%= raw(post.title) %></p>
	
	
<% end %>